<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Email.AreWeOnLiveServer" value="true"/>
  <add key="Email.EmailServer" value="relay-hosting.secureserver.net"/>
  <add key="Email.ToEmailAddress" value="prescriptions.f81076@nhs.net"/>
  <add key="Error.Save" value="true" />
  <add key="Error.Filename" value="D:\Hosting\8965238\html\Assets\ErrorFile.txt" />
  <add key="HTMLPath" value="D:\Hosting\8965238\html\HTML\"/>
  <add key="Images" value="D:\Hosting\8965238\html\Content\Images"/>
  <add key="JSON.Carousel" value="Assets\JSON\Carousel.json" />
  <add key="Menus" value= "D:\Hosting\8965238\html\XML\Menus.xml"/>
  <add key="UploadedDocuments" value= "D:\Hosting\8965238\html\XML\UploadedDocs.xml"/>
  <add key="JSON.SurgeryClosed" value="D:\Hosting\8965238\html\Assets\JSON\SurgeryClosed.json" />
</appSettings>