<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="HTMLPath" value="C:\Users\robert.silver\Documents\DevCode\TS\TollesburySurgery\HTML\" />
  <add key="Images" value="C:\Users\robert.silver\Documents\DevCode\TS\TollesburySurgery\Content\Images"/>

  <add key="Menus" value= "C:\Users\robert.silver\Documents\DevCode\TS\TollesburySurgery\XML\Menus.xml"/>
  <add key="UploadedDocuments" value= "C:\Users\robert.silver\Documents\DevCode\TS\TollesburySurgery\XML\UploadedDocs.xml"/>
  <add key="ErrorLog" value="C:\Users\robert.silver\Documents\DevCode\TS\TollesburySurgery\XML\ErrorLog.xml"/>
  <add key="EmailText" value="C:\Users\robert.silver\Documents\DevCode\TS\TollesburySurgery\Emails\EmailText.txt"/>
</appSettings>