<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Email.AreWeOnLiveServer" value="false"/>
  <add key="Email.EmailServer" value="smtpout.secureserver.net"/>
  <add key="Email.ToEmailAddress" value="robsilveruk@gmail.com"/>
  <add key="Error.Save" value="true" />
  <add key="Error.Filename" value="C:\Users\robert.silver\gitrepos\TollesburySurgery\TollesburySurgery\Assets\ErrorFile.txt" />
  <add key="HTMLPath" value="C:\Users\robert.silver\gitrepos\TollesburySurgery\TollesburySurgery\HTML\" />
  <add key="Images" value="C:\Users\robert.silver\gitrepos\TollesburySurgery\TollesburySurgery\Content\Images"/>
  <add key="JSON.Carousel" value="C:\Users\robert.silver\gitrepos\TollesburySurgery\TollesburySurgery\Assets\JSON\Carousel.json" />
  <add key="Menus" value= "C:\Users\robert.silver\gitrepos\TollesburySurgery\TollesburySurgery\XML\Menus.xml"/>
  <add key="UploadedDocuments" value= "C:\Users\robert.silver\gitrepos\TollesburySurgery\TollesburySurgery\XML\UploadedDocs.xml"/>
</appSettings>