<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="HTMLPath" value="D:\Personal\TS\TollesburySurgery\HTML\" />
  <add key="Images" value="D:\Personal\TS\TollesburySurgery\Content\Images"/>

  <add key="Menus" value= "D:\Personal\TS\TollesburySurgery\XML\Menus.xml"/>
  <add key="UploadedDocuments" value= "D:\Personal\TS\TollesburySurgery\XML\UploadedDocs.xml"/>
  <add key="ErrorLog" value="D:\Personal\TS\TollesburySurgery\XML\ErrorLog.xml"/>
  <add key="EmailText" value="D:\Personal\TS\TollesburySurgery\Emails\EmailText.txt"/>
</appSettings>