body {
    font-family: 'Khula', sans-serif;
    font-size: 18px;
}

/* File Created: January 23, 2012 */
.menu-header {
}

.page {
    width: 850px;
    margin: 0 auto;
}

.left-menu {
    list-style-type: none;
    padding-bottom: 1px;
    margin-top: 10px;
    float: left;
    width: 20%;
    margin-right: 5px;
}

    .left-menu ul {
        margin: 0;
        padding: 0;
        cursor: pointer;
        font-weight: bold;
    }

    .left-menu li {
        list-style-type: none;
        background: url('../Content/Images/navlist-left.jpg') #DDDCE5 no-repeat top left;
        color: black;
        display: block;
        font-size: 0.8em;
        margin: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        text-decoration: none;
    }

    .left-menu .menu-child {
        cursor: pointer;
        background-color: white;
        background-image: none;
        color: black;
        font-weight: normal;
        border: solid 1px #DDDCE5;
    }

.centercol {
    width: 76%;
    background-color: #F9FAFE;
    margin-top: 10px;
    font-size: 1em;
    float: left;
    border: 1px solid lightgray;
    padding-right: 1%;
    padding-left: 1%;
}

    .centercol table {
    }

    .centercol th {
        width: 100%;
        padding: 10px;
        background-color: #dbdbdb;
        color: #666;
        font-weight: bold;
    }

        .centercol th.walk-in-centre {
            width: 20%;
            padding: 10px;
            background-color: #dbdbdb;
            color: #666;
            font-weight: bold;
        }

    .centercol tr {
        width: 100%;
    }

    .centercol td {
        padding: 10px;
        background-color: #ededed;
        color: #666;
    }

        .centercol td a {
            color: #666;
            text-decoration: none;
        }

            .centercol td a:hover {
                text-decoration: underline;
            }

.border-between-header-and-content {
    color: black;
    margin-bottom: -10px;
}

.header {
    background: url('../Content/Images/header.gif');
    height: 208px;
}

.title h1 {
    color: Black;
    font-size: 2em;
    font-style: italic;
    padding-top: 100px;
}

.main-content {
    width: 100%;
}

.opening-times {
    margin-top: 5px;
}


    .opening-times .monday-friday {       
        font-weight: bold;
        background-color: #ededed;
        padding: 15px;
        width: 65%;
        margin: 0 auto;
    }

        .opening-times .monday-friday .days {
            float: left;
            width: 50%;
        }

        .opening-times .monday-friday .times {
            float: left;
        }

.surgery-closed {
    margin: 5px 0 10px 0;
    padding: 10px;
    background-color: #ededed;
    color: red;
}

.lists ul, li {
    margin: 0;
    padding: 0;
}

.list-details {
    float: left;
    list-style: none;
}

.staff {
    font-weight: bold;
    font-size: 1em;
}

.contact-us-by-post, .contact-us-by-telephone, .contact-us-by-fax {
    list-style: none;
}

.telephone-number {
    font-size: 1em;
    text-align: center;
}

.error-red-border {
    border: 2px red solid;
    width: 320px;
    background-color: #FDE2FF;
}

/* MICRO CLEARFIX (http://nicolasgallagher.com/micro-clearfix-hack/) */
.cf {
    zoom: 1;
}

    .cf:before, .cf:after {
        content: "";
        display: table;
    }

    .cf:after {
        clear: both;
    }

/* This is for the popup */
/* ------------- Dialogue Box --------------------*/
#LayoutDialogBoxFadedBackground, .LayoutDialogBoxFadedBackground {
    position: fixed;
    overflow: visible;
    z-index: 25;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    filter: alpha(opacity=75); /*for IE */
    opacity: .75; /*for firefox */
    _position: absolute; /*hack for internet explorer 6  */
}

#LayoutDialogBox, .LayoutDialogBox {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 350px;
    min-height: 150px;
    margin-left: -175px;
    margin-top: -175px;
    z-index: 30;
    _position: absolute; /* hack for internet explorer 6 */
    border-width: 2px;
    border-style: solid;
}

#LayoutDialogBoxHeader {
    height: 24px;
    text-align: left;
}

#LayoutDialogBoxClose {
    width: 24px;
    height: 24px;
    /*background: url('/Images/Icons/iconCancelColour_24x24.png') no-repeat;*/
    background-position: center;
    top: 0px;
    position: absolute;
    right: 2px;
    cursor: pointer;
}

    #LayoutDialogBoxClose:hover {
        /*background: url('/Images/Icons/iconCancelColour_24x24.png') no-repeat;*/
        width: 24px;
        height: 24px;
        background-position: center;
        top: 0px;
        position: absolute;
        right: 2px;
        cursor: pointer;
    }

#LayoutDialogBoxTitle {
    padding: 5px;
    text-align: left;
}

#LayoutDialogBoxMessage {
    text-align: left;
    padding: 20px 10px 10px 10px;
}

.ThemeB2Bg {
    background-color: #0B62A4 !important; /*changed 15/11/2012*/
}

.Theme0Bg {
    background-color: #FFF !important; /*White*/
}

.ThemeB2Border {
    border-color: #0B62A4;
}

.ThemeA1 {
    color: #3D3D3D !important; /*changed 15/11/2012*/
}

.Theme0 {
    color: #FFF !important; /*White*/
}

/* Carousel start */
.carousel {
    height: 200px;
    overflow: hidden;
    margin-left: 0;
    background-color: #90D9FE;
    color: #000;
    padding: 10px;
}

    .carousel .title-section {
        color: #000;
        font-weight: bold;
        font-size: 150%;
        font-style: italic;
    }

    .carousel .content {
        line-height: 150%;
        text-align: justify;
        font-size: 105%;
        overflow: hidden;
    }

        .carousel .content .text {
            margin-bottom: 10px;
        }

            .carousel .content .text:last-child {
                margin-bottom: 0;
            }

    .carousel .slick-dots {
        text-align: center;
        position: relative;
        top: -26px;
        left: -40px;
    }

        .carousel .slick-dots li {
            display: inline-block;
            margin-right: 10px;
        }

            .carousel .slick-dots li .pager-item {
                background-image: url('/Content/Images/Icons/iconFeaturedBubbleWhite_16x16.png');
                width: 16px;
                height: 16px;
            }

        .carousel .slick-dots .slick-active .pager-item {
            background-image: url('/Content/Images/Icons/iconFeaturedBubbleActiveWhite_16x16.png');
            width: 16px;
            height: 16px;
        }

    .carousel .slick-track:before, .slick-track:after {
        display: none;
        content: '';
    }
/* Carousel end */
